body {
	font-family: 'Montserrat', sans-serif;
	color: #171717;
	font-size: 15pt
}

#slogan {
	text-align: center;
	font-style: italic;
	font-size: 15pt;
}

img {
	width: 100%
}

h1 {
	color: #F58235;
	text-align: center;
	font-size: 30pt;
}

a {
font-weight: 500;
color: #F58235;
}

h2 {
	color: #F58235
}

